%font-inter-normal-2 {
	font-family: Inter, Verdana, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 2rem;
}
%font-Merriweather {
	font-family: "Merriweather", Verdana, sans-serif;
	font-style: normal;
	font-weight: bold;
}
