:root {
	--body-color: #000000;
	--wrapper-color: #000000;
	--section-title-color: #bdae82;
	--content-color: #ffffff;
	--price-title-color: #ffffff;
	--button-bordered-color: #000000;
	--button-text-color: #bdae82;
	--button-bordered-hover: #ffffff;
}
